/* sticky footer */

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 50px;
  margin-top: 20px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;

  .copyright {
    position: absolute;
    color: #777;
    padding-top: 17px;
  }
}

/* custom bootstrap alert */

.alert {
  margin-bottom: 0;
}

/* some dummy css */

h2 {
  font-weight: 100;
  &::selection {
    background: #ffb7b7;
  }
  &::-moz-selection {
    background: #ffb7b7;
  }
}
