/*
 *= require_tree .
 */

/* site wide bootstrap alert */

body > .alert {
  margin-bottom: 0;
  border-radius: 0;
  text-align: center;
}

/* some dummy css */

h2 {
  font-weight: 100;
  &::selection {
    background: #ffb7b7;
  }
  &::-moz-selection {
    background: #ffb7b7;
  }
}

/* navigation bar */

.navbar-nav > li.dropdown > a {
  padding-top: 8px;
  padding-bottom: 8px;

  .navbar-avatar {
    margin-right: 5px;
    height: 34px;
  }
}