---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=1085559301459225&client_secret=83600da19f026248f91cad492904cf80&code=AQBCTleAivDPhTtF4cDkxNq9sLYIyEK_51Yl4K6iHal2seHjTSxklGQ29KgzyUDAK43rWv-Pe3DgRjrO9K4SEfIcNgIcca2h4YSMZm3qBm1cS5JZlkLlD_B8P9pOLRyd5ZYV4LxYrQMA--GuBabK1MY6ctwJv7MI-oKImzxIW3FptHg9K0WXiS7BXdvf4QPX_Xa0vW8WlHtqZn2WQKyvht2JJ_rmafnboPwWTvWi_Fr4ldPmYbsIDTDTb2vWuVOEf5c_EUTK-BSQ7GGHHrN9HlMH9zf8a-Tt99Vj6ZzpJ-HU8IoWgLeqnT2w9KMkah2Z6kQ&redirect_uri=http://localhost:3000/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_code" "This authorization code has been
        used."
      Facebook-Api-Version:
      - v1.0
    body:
      encoding: UTF-8
      string: '{"error":{"message":"This authorization code has been used.","type":"OAuthException","code":100}}'
  recorded_at: Thu, 16 Apr 2015 23:03:24 GMT
recorded_with: VCR 2.9.3
