---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/oauth/access_token?client_id=1085559301459225&client_secret=83600da19f026248f91cad492904cf80&code=abc&redirect_uri=http://test.host/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_code" "Invalid verification code format."
      Facebook-Api-Version:
      - v1.0
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid verification code format.","type":"OAuthException","code":100}}'
  recorded_at: Sun, 12 Apr 2015 01:03:25 GMT
recorded_with: VCR 2.9.3
